body{
    font-family: 'Bree Serif', serif;
    margin-left: 0;
}
h1{
    font-size: 50px;
}
.display-flex{
    display: flex;
}
.half-width{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding-top: 70px;

}
.color-orenge{
    color:orange;
}
.coock img{
    width: 60%;
    margin-left: 70px;
}
.half-width a {
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    border-radius: 10px;
    margin-top: 50px;
    padding:10px 40px;

}
.top-second{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-left: 50px;
}

.text-aline {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 80px;   
    margin-bottom: 60px; 
}
.recipies-width{
    width: 25%;
    margin-left: 5%;
    margin-right: %;
    padding:20px 20px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 1px 17px 3px gray;
}
.recipies-width img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    
}
.optional-section{

    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 65px;
    margin-right: 65px;
    box-shadow: 1px 1px 17px 3px gray;
    
}
.social{
    text-align: center;
    width: 25%;
    margin-left: 5%;  
}
.bottom-section{
    height: 250px;
    width: auto;
    background-color: rgb(7, 0, 0);
}
.bottom-section {
    color: gray;
    text-align: center;
    
}
 
